<?xml version="1.0" encoding="utf-8" ?>
<configuration> 
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <appSettings>
    <add key="dbProvider" value="System.Data.SqlClient" />
  </appSettings>
  <connectionStrings>
    <add name="dbConnString" connectionString="Data Source=192.168.100.39;Initial Catalog=AGENDA;User Id= GederSS1; Password=22072207" />
  </connectionStrings>
  
 
  
</configuration>